{% extends 'base.html.twig' %}

{% block title %}Survey{% endblock %}

{% block body %}
    <h1>Survey</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ survey.id }}</td>
            </tr>
            <tr>
                <th>OwnFood</th>
                <td>{{ survey.ownFood ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ProcurementType_id</th>
                <td>{{ survey.procurementTypeId }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ survey.createdAt ? survey.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ survey.updatedAt ? survey.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Restaurant_id</th>
                <td>{{ survey.restaurantId }}</td>
            </tr>
        </tbody>
    </table>
<button class="btn btn-dark">
    <a href="{{ path('survey_index') }}">back to list</a></button>
<button class="btn btn-dark">
    <a href="{{ path('survey_edit', {'id': survey.id}) }}">edit</a></button>

    {{ include('survey/_delete_form.html.twig') }}
{% endblock %}
