{% extends 'base.html.twig' %}

{% block title %}ProcurementType index{% endblock %}

{% block body %}
    <h1>ProcurementType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for procurement_type in procurement_types %}
            <tr>
                <td>{{ procurement_type.id }}</td>
                <td>{{ procurement_type.name }}</td>
                <td>
                    <button class="btn btn-light">
                        <a href="{{ path('procurement_type_show', {'id': procurement_type.id}) }}">show</a></button>
                    <button class="btn btn-light">
                        <a href="{{ path('procurement_type_edit', {'id': procurement_type.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<button class="btn btn-dark">
    <a href="{{ path('procurement_type_new') }}">Create new</a></button>
{% endblock %}
