{% extends 'base.html.twig' %}

{% block title %}Procurement index{% endblock %}

{% block body %}
    <h1>Procurement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for procurement in procurements %}
            <tr>
                <td>{{ procurement.id }}</td>
                <td>{{ procurement.name }}</td>
                <td>{{ procurement.value }}</td>
                <td>
                    <a href="{{ path('procurement_show', {'id': procurement.id}) }}">show</a>
                    <a href="{{ path('procurement_edit', {'id': procurement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('procurement_new') }}">Create new</a>
{% endblock %}
