{% extends 'base.html.twig' %}

{% block title %}OptionSurvey index{% endblock %}

{% block body %}
    <h1>OptionSurvey index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for option_survey in option_surveys %}
            <tr>
                <td>{{ option_survey.id }}</td>
                <td>{{ option_survey.name }}</td>
                <td>{{ option_survey.value }}</td>
                <td>
                    <a href="{{ path('option_survey_show', {'id': option_survey.id}) }}">show</a>
                    <a href="{{ path('option_survey_edit', {'id': option_survey.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('option_survey_new') }}">Create new</a>
{% endblock %}
