{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImgPath</th>
                <th>Path</th>
                <th>Alt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td><img src="{{ asset(image.imgpath) }}" width="100px "/></td>
                <td>{{ image.imgPath }}</td>
                <td>{{ image.path }}</td>
                <td>{{ image.alt }}</td>
                <td>
                    <button class="btn btn-light">
                        <a href="{{ path('image_show', {'id': image.id}) }}">show</a></button>
                    <button class="btn btn-light">
                        <a href="{{ path('image_edit', {'id': image.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<button class="btn btn-dark">
    <a href="{{ path('image_new') }}">Create new</a></button>
{% endblock %}
