{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
    <h1>Restaurant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ExternalLink</th>
                <th>OnSite</th>
                <th>Shop</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.id }}</td>
                <td>
                    {{ restaurant.name }}
                    {% if  restaurant.image %}
                    <img src="{{ asset(restaurant.image.imgpath) }}" width="200px"/>
                    {% endif %}
                </td>
                <td>{{ restaurant.externalLink }}</td>
                <td>{{ restaurant.onSite ? 'Yes' : 'No' }}</td>
                <td>{{ restaurant.shop ? 'Yes' : 'No' }}</td>
                <td>{{ restaurant.longitude }}</td>
                <td>{{ restaurant.latitude }}</td>
                <td>{{ restaurant.address }}</td>
                <td>
                    <a href="{{ path('restaurant_show', {'id': restaurant.id}) }}">show</a>
                    <a href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('restaurant_new') }}">Create new</a>
{% endblock %}
