{% extends 'base.html.twig' %}

{% block title %}Probe index{% endblock %}

{% block body %}
    <h1>Probe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for probe in probes %}
            <tr>
                <td>{{ probe.id }}</td>
                <td>{{ probe.name }}</td>
                <td>{{ probe.value }}</td>
                <td>
                    <a href="{{ path('probe_show', {'id': probe.id}) }}">show</a>
                    <a href="{{ path('probe_edit', {'id': probe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('probe_new') }}">Create new</a>
{% endblock %}
