{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Gestion Utilisateurs</h1>

    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}

            <tr>
                <td><p style="color:#0fff06;font-weight:bold;">{{ user.id }}</p>
                    <a class="btn" style="color:#03adff" href="{{ path('user_edit', {'id': user.id}) }}">Edit</a>
                </td>
                <td><p style="color:#fff902;font-weight:bold;">{{ user.username }}</p></td>
                <td><p style="color:#ff9007;font-weight:bold;">{{ user.email }}</p></td>

                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
            <hr style="color:black;">
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-dark" style="color: #F5871F" href="{{ path('user_new') }}">Create new</a>
{% endblock %}

